{% extends 'base.html' %}

{% block content %}
    <h1 class="text-center mb-4">Analyze a Twitter Account</h1>
    <form method="POST" class="row justify-content-center">
        <div class="col-md-6">
            <div class="input-group mb-3">
                <input type="text" name="username" class="form-control" placeholder="Enter Twitter username (e.g., @username)" required>
                <button type="submit" class="btn btn-primary">Analyze</button>
            </div>
        </div>
    </form>
{% endblock %}
